<div class= "jumbotron" style="background-color: white;overflow-x: hidden;" >
	<div class="row" >
		<h2 style="color: #6F4242;text-align:center">Education</h2>
		<hr ><br>
		<div class="col-lg-4 col-lg-offset-2" >
			<div ><%= image_tag "cornell.jpg",:alt => "Cornell",  class:"img-responsive img-thumbnail "%></div>
			<div class="text-left desc"> Cornell Univeristy <br>
				Masters of Engineering <br> Computer Science - Class of 2012
				<br>Ithaca, New York
			</div>
		</div>
		<div class="col-lg-4 col-lg-offset-1" >
			<div><%= image_tag "DCE.jpg", :alt => "DCE", class:"img-responsive img-thumbnail "%>
			</div>
			<div class="text-left desc">	Delhi Colege of Engineering <br>
				Bachelors of Engineering <br> Information Technology - Class of 2009 <br>Delhi, India
				<div>
					
				</div>
			</div>
		</div>
</div>
		</div>