<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row work-exp">
				<div class="col-sm-2" ><a data-toggle="collapse" data-parent="#accordion" href="#Firecode" class="collapsed" >Co-Founder</a></div>
				<div class="col-sm-2" ><a href="https://www.firecode.io/" target="_blank">Firecode.io</a></div>
				<div class="col-sm-5" >Among top 10 in EdTech venture at Launch 2016</div>
				<div class="col-sm-3 pull-left" >April 2014 – Present</div>
			</div>
		</div>
		<div class="panel-collapse collapse"  id="Firecode">
			<div class="panel-body">
				<ul>
					<li> Created and prioritized the product road map, conducted lean experiments by activating 10 to 40 users weekly.
					</li>
					<li> Defined and tracked user growth metrics and introduced new features that resulted in a 40% increase in customer
						acquisition.
					</li>
					<li> Designed the course curriculum and created content targeted to a specific market in the recruitment and interview area.
					</li>
					<li> Developed a consumer product website along with two engineers, which provides an integrated learning environment for fresh graduates
						and professionals to prepare for coding interviews.
					</li>
					<li> Developed an assessment platform in C which increased the user engagement time to more than 10 hours continuously.
					</li>
					<li> Marketed the product via Social Media platforms and gathered around 1000+ users.
					</li>
					<li> Presented the company in web-summit ALPHA 2015 at Dublin, Ireland.</li></ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row work-exp">
					<div class="col-sm-2" ><a data-toggle="collapse" data-parent="#accordion" href="#Oracle" class="collapsed" >Software Engineer - III</a></div>
					<div class="col-sm-2" >Oracle</div>
					<div class="col-sm-5" >In-memory Database for Real Time Analyics</div>
					<div class="col-sm-3 pull-left" >Sept 2012 – Present</div>
				</div>
			</div>
			<div class="panel-collapse collapse"  id="Oracle">
				<div class="panel-body">
					<ul>
						<li> Enabled In-Memory features on Oracle’s read-only database and Active Data Guard, and demoed it to around 100+
							customers and resolved their queries at Oracle Open World 2015.
						</li>
						<li> Organized and managed the beta testing event with the product managers which resulted in 80% of the conversion rate.
						</li>
						<li> Collaborated with development teams to define the design requirements, as well as implement a diagnostic feature to
							provide dynamic performance statistics for the Oracle In-Memory Database.
						</li>
						<li> Trained the support teams and product managers (20 People) for using the diagnostic tool to analyze and debug internal
							development and customer issues.
						</li>
						<li> Designed and developed a caching mechanism to introduce concurrency control and improved the I/O performance by
						10 times.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row work-exp">
				<div class="col-sm-2" ><a data-toggle="collapse" data-parent="#accordion" href="#ITAAS" class="collapsed" >Software Engineer</a></div>
				<div class="col-sm-2" >ITAAS(acquired by cognizant)</div>
				<div class="col-sm-5" >Cisco’s Simulator of Set-top Box for digital videos</div>
				<div class="col-sm-3 pull-left" >Feb 2010 - Jul 2011</div>
			</div>
		</div>
		<div class="panel-collapse collapse"  id="ITAAS">
			<div class="panel-body">
				<ul>
					<li> Communicated goals and status updates to the clients. Wrote a product requirement document ensuring clear
						communication of requirements to the clients, developers and testers.
					</li>
					<li> Developed a Java based Command Line Interface for the simulator, which improved the performance of the simulator
						testing environment by 50%
					</li>
					<li> Eliminated the slow paced manual testing by integrating the simulator into the daily build of DNS server.</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row work-exp">
				<div class="col-sm-2" ><a data-toggle="collapse" data-parent="#accordion" href="#DN" class="collapsed" >Software Engineer</a></div>
				<div class="col-sm-2" >Dilithium Networks</div>
				<div class="col-sm-5" >Multimedia Gateway - 3G Networks</div>
				<div class="col-sm-3 pull-left" >June 2009 - Jan 2010</div>
			</div>
		</div>
		<div class="panel-collapse collapse"  id="DN">
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div>
		
	</div>