<div class="visible-form">
	<div class="row" >
		<div class="headBg">
		</div>
		<div class="jumbotron" style="background-color: white; padding-bottom: 100 px" >
			<div class="col-lg-3 col-lg-offset-2" style="overflow: hidden">
				<%= image_tag "ProfilePic.jpg", class:"img-responsive img-rounded center-block "%>
			</div>
			<div class="col-lg-7 " >
				<br>
				<h1> Hey, I'm <br>Shruti Gautam</h1>
				<p> Software Developer, People Person, Dancer, Traveller</p>
				<br>
				<div class="btn-group" style="display: inline-block">
					<a href="https://twitter.com/shruts6">
						<div class="btn btn-twitter btn-group-sm">
							<i class="fa fa-twitter"></i> Connect with Twitter
						</div>
					</a>
					<a href="https://twitter.com/shruts6">
						<div class="btn btn-linkedin">
							<i class="fa fa-linkedin"></i> Connect with LinkedIn
						</div>
					</a>
					<a href="https://twitter.com/shruts6">
						<div class="btn btn-facebook">
							<i class="fa fa-facebook"></i> Connect with LinkedIn
						</div>
					</a>
				</div>
			</div>
			
		</div>
	</div>
	
	
</div>
<div class="row" >
	<div class="jumbotron" style="background-color: white" >
	</div>
</div>
<div class="row" >
	<div class="jumbotron" style="background-color: white" >
	</div>
</div>
<div class="row" >
	<div class="jumbotron" style="background-color: #e0ebe8" >
	</div>
</div>