<div class="visible-form">
	<header>
		<div class="row" >
			<div class="headBg">
			</div>
			<div class="jumbotron" style="background-color: white" >
				<div class="col-md-4 col-md-offset-2" style="overflow: hidden">
					<%= image_tag "ProfilePic.jpg", class:"img-responsive img-rounded center-block "%>
				</div>
				<div class="col-md-5" >
					<h1>Hey, I'm <br>Shruti Gautam</h1>
					<p>Software Developer, People Person, Dancer, Traveller</p>
					<div class="btn-toolbar text-center">
					<a href="https://twitter.com/shruts6">
						<div class="btn btn-twitter">
							<i class="fa fa-twitter"></i> Connect with Twitter
						</div>
					</a>
				</div>
				</div>
				
			</div>
		</div>
		
		<div class="row text-center">
			
		</div>
	</header>
	<section class="gray" id="about">
	</section>
</div>