<div class="conatiner" style="overflow:hidden">
	<div class="row" >
		<nav class="nav  navbar-collapse  navbar-nav navbar-fixed-top" style="background-color: #FFFFFF">
			<div class="container" >
				
				<ul  class="nav nav-pills  navbar-right work-exp ">
					<li  ><a href="#">Home</a></li>
					<li ><a href="#about-me">About</a></li>
					<li ><a href="#exp">Experience</a></li>
					<li ><a href="#presentations" >My Presentations</a></li>
					<li ><a href="#edu">Education</a></li>
					<!-- <li class="disabled"><a href="#" >Projects</a></li> -->
				</ul>
				
			</div>
		</nav>
	</div>
	<hr>
	<div class="row" >
		<div class="conatiner">
			<div class="row" >
				<div class="headBg">
				</div>
				<div class="jumbotron" style="background-color: white; padding-bottom: 100 px" >
					<div class="col-xl-3 col-lg-3 col-md-3 col-xs-3 col-sm-3 " style="overflow: hidden">
						<%= image_tag "ProfilePic.jpg", :alt => "Shruti-Gautam", class:"img-responsive img-rounded center-block "%>
					</div>
					<div class="col-lg-7 " >
						<br>
						<h1 style="color: #FFFFFF"> SHRUTI GAUTAM</h1>
						<span style="color: #FFFFFF" > Aspiring Product Manager <!-- Entrepreneur, Product Manager, Technologist --> </span> <br><br>
						<br>
					</div>
				</div>
			</div>
			
			<div class="row jumbo-padd" >
				<div class="col-xs-5 col-sm-5 col-md-5 btn-group" style="display: inline-block">
					<span style="color: #6F4242"> Connect with me @ </span>
					<a href="https://twitter.com/shruts6" target="_blank">
						<div class="btn btn-twitter btn-circle">
							<i class="fa fa-twitter"></i>
						</div>
					</a>
					<a href="https://www.linkedin.com/pub/shruti-gautam/13/b0b/817" target="_blank">
						<div class="btn btn-circle btn-linkedin">
							<span class="center-block"><i class="fa fa-linkedin"></i></span>
						</div>
					</a>
					<a href="https://www.facebook.com/shruti.gautam.35" target="_blank">
						<div class="btn btn-facebook btn-circle">
							<i class="fa fa-facebook"></i>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class= "row padd-rows" id="about-me">
		<div class= "jumbotron"  style="background-color: #FFFFFF">
			<h1  class="center"  style="color: #6F4242;text-align:center">About Me</h1>
			<hr >
			
			<div  class="col-sm-6 " >I graduated from Cornell University with a Master of Science in Computer Science and have a keen interest in technology and business. I am a self-starter and an avid learner who enjoys taking the initiative, responsibility and leadership roles that defy convention and lie well outside of my regular job description. I have a five years of product development experience along with product management activities involving customer and client interactions, user requirement gathering, training support teams, collaborating across different teams, growth hacking, lean startups, A/B testing, customer acquisitions. <br><br></div>
			<div class="col-sm-6 " >
				<!-- I am Co-founder of Firecode.io, an Education Technology Startup venture rated amongst the top 10 startup at Launch 2016. As an Entrepreneur, the most joyful experience for me is wearing multiple hats of a product manager, marketing person, and an engineer.<br><br> -->
				Currently, I am <!-- also --> a Senior Software Engineer at Oracle's HQ in Redwood Shores CA, specializing in the In-memory feature of Oracle’s database for real time enterprise applications and analytics. Furthermore, I have been performing various Product Management activities at work.
			</div>
		</div>
	</div>
	<div class= "row padd-rows" >
		<div class= "jumbotron"  id="exp" style="background-color: #FFFFFF">
			<h1  class="center"  style="color: #6F4242;text-align:center">My Work Experience</h1>
			<hr >
			<%= render 'workExp' %>
		</div>
	</div>
	<div class=" row padd-rows" id="presentations">
		<div class= "jumbotron"  style="background-color: #FFFFFF">
		<h1  class="center"  style="color: #6F4242;text-align:center">Presentations</h1>
			<hr >
				<div class="col-sm-4 col-sm-offset-1">
					<iframe  class="embed-responsive-item concept-video center-block" width="560" height="215" src="https://www.youtube.com/embed/Ag9VdxW-NvU" allowfullscreen></iframe>
				</div>
				<div class="col-sm-4 col-sm-offset-1">
					<iframe  class="embed-responsive-item concept-video center-block" width="560" height="215" src="https://www.youtube.com/embed/BiK4Dh4dZpc" allowfullscreen></iframe>
				</div>
			</div>
			</div>
	<div class= " row padd-rows" id="edu">
		<%= render 'education' %>
	</div>
</div>
<footer class="text-center" style="background-color: #6F4242; color: white;">
	<div class="row" style="overflow:hidden">
		<div class="col-lg-12" style="overflow:hidden">
			Copyright ©  2015, Shruti Gautam
		</div>
	</div>
</footer>