<div class="conatiner">
	<div class="row" >
		<nav class="nav navbar-nav navbar-right">
			<div class="container">
				
				<ul  class="nav nav-tabs  navbar-right">
					<li role="presentation" class="active"><a href="#">Home</a></li>
					<li role="presentation"><a href="#">Profile</a></li>
					<li role="presentation"><a href="#">Messages</a></li>
				</ul>
				
			</div>
		</nav>
	</div>
	<div class="row" style="background-color: black; padding-bottom: 100 px">
		<div>
		<div class="col-lg-4 col-xs-offset-2 col-md-4 col-md-offset-2 col-xs-4 col-sm-4" id="Profile-img" >
			<%= image_tag "ProfilePic.jpg", :alt => "Shruti Gautam", class:"img-responsive img-rounded center-block "%>
		</div>
		<br>
		<div class="col-xs-5 " >
				<br>
				<h1 style="color: #FFFFFF"> Hey, I'm <br> SHRUTI GAUTAM</h1>
				<span style="color: #FFFFFF" >  Entrepreneur, Product Manager, Software Engineer</span> <br><br>
			</div>
		
	</div>
	<div class="row" style="background-color: black;" >
		<div class="col-xs-offset-2 col-xs-5" >
		<div class="btn-group" style="display: inline-block">
			<span style="color: #FFFFFF"> Connect with me @ </span>
			<a href="https://twitter.com/shruts6" target="_blank">
				<div class="btn btn-twitter btn-circle">
					<i class="fa fa-twitter"></i>
				</div>
			</a>
			<a href="https://www.linkedin.com/pub/shruti-gautam/13/b0b/817" target="_blank">
				<div class="btn btn-circle btn-linkedin ">
					<span class="center-block"><i class="fa fa-linkedin"></i></span>
				</div>
			</a>
			<a href="https://www.facebook.com/shruti.gautam.35" target="_blank">
				<div class="btn btn-facebook btn-circle">
					<i class="fa fa-facebook"></i>
				</div>
			</a>
		</div>
	</div>
	<div class="row" >
	</div>
</div>