// Place all the styles related to the mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.img-responsive {
display: inline-block;
max-width: 90%;
height: auto;
overflow: hidden;

}
.headBg{
	display: block;
	background-color: #e0ebe8;
	position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
height:300px;
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
}