<!DOCTYPE html>
<html>
<head>
  <title>Mypage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="Shruti Gautam | Official Website">
  <meta name="description" content="Shruti's Official Website">
</head>
<body>

<%= yield %>

</body>
</html>
